[user]
	name = shineee
	email = orangeshinee@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGwdhckls7fyAJRJN3gti2Wpl/Pl539Z86rvvXgaDAID GitHubTomorrowU
[core]
	autocrlf = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[http]
	sslVerify = false
	proxy = http://127.0.0.1:10855
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[https]
	proxy = http://127.0.0.1:10855
[socks]
	proxy = socks://127.0.0.1:10854
[safe]
	directory = *

[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential "https://wget.la"]
	provider = generic
